{{/*
// Copyright 2023 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Alias:NaturalTypesHeader" }}
{{ EnsureNamespace . -}}
{{- IfdefFuchsiaIf .IsResourceType -}}
using {{ .Name }} = {{ .Type }};
{{- EndifFuchsiaIf .IsResourceType -}}
{{- end }}

{{- define "Alias:WireTypesHeader" }}
{{ EnsureNamespace . -}}
{{- IfdefFuchsiaIf .IsResourceType -}}
using {{ .Name }} = {{ .Type }};
{{- EndifFuchsiaIf .IsResourceType -}}
{{- end }}
