{{/*
// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Filename:driver/NaturalMessagingSource" -}}
  fidl/{{ .LibraryDots }}/cpp/driver/natural_messaging.cc
{{- end }}

{{- define "File:driver/NaturalMessagingSource" -}}
{{- UseUnified -}}
{{- SetTransport "Driver" -}}

{{ IfdefFuchsia}}

#include <lib/fidl_driver/cpp/unknown_interactions.h>

#include <{{ .Library | Filename "driver/NaturalMessagingHeader" }}>

#pragma clang diagnostic push
#pragma clang diagnostic ignored "-Wshadow"

{{- range (call .ProtocolsForTransport "Driver") }}
  {{- template "Protocol:Details:NaturalMessagingSource" . }}
  {{- template "Protocol:Client:driver/NaturalMessagingSource" . }}
  {{- template "Protocol:EventHandler:NaturalMessagingSource" . }}
  {{- template "Protocol:Interface:NaturalMessagingSource" . }}
  {{- template "Protocol:Dispatcher:NaturalMessagingSource" . }}
{{- end }}

#pragma clang diagnostic pop

{{- EndifFuchsia }}

{{ UnsetTransport -}}
{{ EndOfFile }}
{{ end }}
