[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://boringssl.googlesource.com/boringssl
	name = boringssl
	ignore = all
[submodule "third_party/icu/default"]
	path = third_party/icu/default
	url = https://chromium.googlesource.com/chromium/deps/icu
	name = chromium/deps/icu@default
	ignore = all
[submodule "third_party/icu/latest"]
	path = third_party/icu/latest
	url = https://chromium.googlesource.com/chromium/deps/icu
	name = chromium/deps/icu@latest
	ignore = all
[submodule "third_party/llvm-libc/src"]
	path = third_party/llvm-libc/src
	url = https://llvm.googlesource.com/llvm-project/libc
	name = llvm-project/libc
	ignore = all
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://fuchsia.googlesource.com/third_party/lz4
	name = third_party/lz4
	ignore = all
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://fuchsia.googlesource.com/third_party/rapidjson
	name = third_party/rapidjson
	ignore = all
[submodule "third_party/re2/src"]
	path = third_party/re2/src
	url = https://fuchsia.googlesource.com/third_party/re2
	name = third_party/re2
	ignore = all
[submodule "third_party/scudo/gwp_asan"]
	path = third_party/scudo/gwp_asan
	url = https://llvm.googlesource.com/gwp-asan
	name = gwp-asan
	ignore = all
[submodule "third_party/scudo/src"]
	path = third_party/scudo/src
	url = https://llvm.googlesource.com/scudo
	name = scudo
	ignore = all
[submodule "third_party/zstd/src"]
	path = third_party/zstd/src
	url = https://fuchsia.googlesource.com/third_party/zstd
	name = third_party/zstd
	ignore = all
