[submodule "third_party/cobalt"]
	path = third_party/cobalt
	url = https://fuchsia.googlesource.com/cobalt
	name = cobalt
	ignore = all
[submodule "third_party/cobalt_config"]
	path = third_party/cobalt_config
	url = https://fuchsia.googlesource.com/cobalt-registry
	name = cobalt-registry
	ignore = all
[submodule "third_party/antlion"]
	path = third_party/antlion
	url = https://fuchsia.googlesource.com/antlion
	name = antlion
	ignore = all
