{gn_rule}("{target_name}") {{
  crate_name = "{crate_name}"
  source_root = "{root_path}"
  output_name = "{output_name}"
  edition = "{edition}"
  disable_clippy = true
  enforce_source_listing = false
  {cfgs}
  {dependencies}
  {rustenv}
  {rustflags}
  {aliased_deps}
  {visibility}
  {optional_testonly}
  {applicable_licenses}
}}
