// Copyright 2025 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

/dts-v1/;

/ {
    other-node {
        a {};
    };


    chosen {
        linux,initrd-end = <0x0 0x58000000>;
        linux,initrd-start = <0x0 0x48000000>;
        bootargs = "-foo=bar -bar=baz";
        stdout-path = "my-favorite-uart";

        other-chosen-node {
            a {};
        };
    };

};